Navbar {
  border: 1px solid black;
  height: 90px;
  width: 1225px;
  background-color: rgb(255, 253, 253);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  position: fixed;
  top: 0;
  margin-left: 0%;
  z-index: 999;
}
#imageshoping {
  width: 40px;
  position: absolute;
  top: 20px;
  right: 10px;
  ;
}
#imageshoping:hover {
  filter: blur(50%);
}
#Heading0 {
  margin: auto;
  font-size: 70px;
  color: rgb(79, 70, 71);
}
#LInk1 {
  float: right;
  margin-right: 70px;
  font-size: x-large;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
#LInk1:hover {
  color: blue;
}
#button1:hover {
  color: rgb(241, 235, 235);
  background-color: rgb(90, 147, 90);
}
#button1 {
  position: absolute;
  top: 20px;
  right: 58px;
  padding: 10px 25px;
  background-color: rgb(231, 227, 236);
  color: rgb(130, 12, 12);
  border-radius: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;}